
.results-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

.result-card {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.result-card h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.result-card p {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}

.result-card a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.result-card a:hover {
    text-decoration: underline;
}

/* No Results Section */
.no-results {
    text-align: center;
    color: #888;

}

.no-results h2 {
    font-size: 24px;
}

.no-results p {
    font-size: 16px;
    margin-top: 10px;
}

